<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="https://previews.123rf.com/images/vladvm/vladvm1506/vladvm150600944/41223066-the-scuba-mask-icon.jpg"
  />
  <span>VisCheck</span>
    <div class="spacer"></div>
</div>
<div class="content" id="home">
  <div class="content" role="main">
    <h1>Welcome to VisCheck!</h1>
  </div>
  <div class="content">
    <h4>VisCheck is a dedicated application where you can view and submit your estimated visibility of a dive site.</h4>
  </div>
  
  <div class="content">
    <h3>To get started, select a dive site from the dropdown menu below.</h3>
  
    <app-oahu-dropdown-menu></app-oahu-dropdown-menu>
  </div>
</div>



  <!-- Footer -->
  <footer>
      Love VisCheck?&nbsp;
      <a href="https://github.com/jakehardy95/VisCheck" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
  </footer>
<router-outlet></router-outlet>
